/* colors definition */
/* active palette - portfolio */
/* active palette - resume */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200;400;600&display=swap");
@-ms-viewport {
  width: device-width; }

/* ---- MAIN TAGS STYLES ---- */
html {
  box-sizing: border-box;
  /* 1rem = 16px = 100% -> 10px = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 300;
  line-height: 1.4;
  color: #B3B3B3;
  background: #18362E; }

h1, h2, h3 {
  text-align: center;
  text-shadow: 1px 1px 2px #1F1F1F; }

h1 {
  font-weight: 700;
  font-size: 20rem; }

h2 {
  font-size: 7rem; }

h3 {
  font-size: 4rem; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #EEB736; }

img {
  display: block;
  width: 100%; }

hr {
  margin-bottom: 8rem;
  height: 0px;
  clear: both;
  border: 1px solid transparent; }

.section {
  height: 100vh; }

/* ---- NAV BAR ---- */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #11251F;
  box-shadow: 0 0 20px #1F1F1F;
  z-index: 10; }

.nav-list {
  display: flex;
  margin-right: 2rem; }
  .nav-list a {
    display: block;
    font-size: 2rem;
    margin-right: 2rem;
    padding: 0.2em; }
  .nav-list a:hover {
    background: #18362E; }

/* ---- WELCOME SECTION ---- */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #18362E; }
  .welcome-section h1 {
    transition: transform 0.3s ease-out;
    transform: translateX(5rem); }
  .welcome-section h1:hover {
    transform: translateX(0rem); }
    .welcome-section h1:hover .code {
      color: #EEB736; }
  .welcome-section h3 {
    margin-bottom: 4rem; }
  .welcome-section p {
    font-size: 3rem;
    color: #EEB736; }

/* ---- STACK SECTION ---- */
.stack {
  width: 100%;
  background-color: #11251F; }

.stack-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 12rem auto;
  width: 80%;
  font-size: 10rem; }
  .stack-box p {
    color: inherit; }

.stack-img {
  transition: all 0.5s ease; }

.stack-img:hover {
  color: #EEB736; }

/* ---- PROJECTS SECTION ---- */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #18362E;
  background-image: linear-gradient(to bottom, #18362E, #11251F); }

.projects-section-header {
  max-width: 80rem;
  margin: 0 auto 6rem auto;
  border-bottom: 0.02em solid;
  border-image: linear-gradient(90deg, #18362E, #EEB736, #18362E) 1; }

/* -- projects boxes in grid for automagic fit -- */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 6rem; }

.project {
  background: #18362E;
  box-shadow: 0 0 20px #1F1F1F; }

.code {
  color: #18362E;
  text-shadow: none; }

.project:hover .code {
  color: #DF5624; }

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  filter: grayscale(80%); }

.project-image:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%); }

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem; }

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.1rem; }

.btn-show-all {
  font-size: 2rem;
  background: #18362E; }
  .btn-show-all i {
    margin-left: 1rem;
    transform: translateX(0); }

.project-title:hover, .btn-show-all:hover {
  background: #11251F; }

.btn-show-all:hover > i {
  transform: translateX(2px); }

/* ---- CONTACT SECTION ---- */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  background: #18362E; }
  .contact-section h2 {
    font-size: 6rem; }

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap; }

.contact-details {
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px #1F1F1F; }

.contact-details:hover {
  transform: translateY(-0.5rem); }

/* ---- TRANSITIONS ---- */
.code,
.project-image,
.project-title,
.btn-show-all,
.btn-show-all > i,
.contact-details {
  transition: 0.3s ease-out; }

/* ---- MEDIA QUERIES ---- */
@media (max-width: 1200px) {
  html {
    font-size: 60%; }
  h1 {
    font-size: 15rem; } }

/* ---- MOBILE VIEW ---- */
@media (max-width: 460px) {
  html {
    font-size: 35%; }
  body {
    overflow-x: hidden; }
  h1 {
    font-size: 10rem; }
  .nav {
    justify-content: center; }
  .nav-list {
    margin: 0; }
  .welcome-section h1 {
    transform: translateX(2rem); }
  .welcome-section h3 {
    font-size: 6rem; }
  .stack-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .projects-section {
    padding: 10rem 1rem; } }
