@use '../helpers/colors' as *;

.contact {
  .social-group {

  }

  .social-el {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    line-height: 0;
    border-radius: 10px;
    background: $main-background;
    transition: width 0.8s ease-in-out;
    overflow: hidden;
    width: 50px;

    .btn {
      background-color: $main-background;
      border: none;
      border-radius: 5px 0 0 5px;
      transition: background-color 0.8s ease-out;
    }

    .social-desc {
      // display: none;
      opacity: 0;
      transition: opacity 1s ease-in;
      color: $highlight;

      &:is(:hover) {
        color: inherit;
      }
    }

    &:hover {
      width: calc(240px);
      box-shadow: 0 0 10px #1e1e1e, -1px -1px 10px #343434;
      color: $highlight;

      .social-desc {
        opacity: 1
      }

      .btn {
        background-color: $highlight;
      }

      i {
        color: $main-background;
      }

    }
  }


  @media (max-width: 1160px), (max-width: 1160px) and (orientation: landscape) {

  }

}
