@import "../components/projects-previews";

.projects {
  .cont {
    position: relative;
    overflow: hidden;
    height: 80vh;

    &.cont-inactive {
      .el-inner {
        transform: translate3d(0, 100%, 0);
      }
      .el-bg:before {
        transform: translate3d(0, -100%, 0);
      }
      .el-preview-cont {
        opacity: 0;
        transform: translateY(10px);
      }
    }

    &.el-active {

      @include single-el-not-active-cont(1, 0);
      @include single-el-not-active-cont(2, 105.208%);
      @include single-el-not-active-cont(3, 210.417%);
      @include single-el-not-active-cont(4, 315.625%);
      @include single-el-not-active-cont(5, 420.833%);
      @include single-el-not-active-cont(6, 526.151%);

      .el-preview-cont {
        opacity: 0;
        transition: all 0.5s;

      }
      .el-bg:after {
        transition: opacity 0.5s 1.4s;
        opacity: 1;
      }
    }
  }

  .cont-inner {
    position: relative;
    height: 100%;
    &:hover .el-bg:after { opacity: 1;}
  }

  .el-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 16%;
    height: 100%;
    background: $shadow;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    will-change: transform, width, opacity;

    &:not(.cont-active) {
      cursor: pointer;
    }

    &.cont-active {
      .el-bg :before {
        transition: transform 0.8s;
      }

      .el-content {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.5s 0.4s;
        z-index: 2;
      }

      .el-close-btn {
        opacity: 1;
        pointer-events: auto;
        transition: all 0s 1.4s;
        z-index: 5;

        &:before, &:after {
          opacity: 1;
        }

        &:before {
          @include close-btn-transform(45deg, 0);
          @include close-btn-transition(1.4s);
        }

        &:after {
          @include close-btn-transform(-45deg, 0);
          @include close-btn-transition(1.55s);
        }
      }
    }

    &:nth-child(1) {
        @include single-el-utils(0, 0, 'groceries.jpg', 0);
      }

    &:nth-child(2) {
      transform-origin: 155.2083333333% 50%;
        @include single-el-utils(105.208%, -19.2%, 'simply-shop-project.jpg', 0.1);
      }

    &:nth-child(3) {
      transform-origin: 260.4166666667% 50%;
        @include single-el-utils(210.417%, -38.4%, 'mood-counter-view.jpg', 0.2);
      }

    &:nth-child(4) {
      transform-origin: 365.625% 50%;
        @include single-el-utils(315.625%, -57.6%, 'htmlcss-view.jpg', 0.3);
      }

    &:nth-child(5) {
      transform-origin: 470.8333333333% 50%;
        @include single-el-utils(420.833%, -76.8%, 'product-page-view.jpg', 0.4);
      }

    &:nth-child(6) {
        @include single-el-utils(526.151%, -80%, 'survey-form-view.jpg', 0.5);
      }

    &:hover .el-bg{
      &:before {
        //filter unset
        transform: translate3d(0, 0, 0) scale(1.1);
      }
      &:after { opacity: 0;}
    }

    &.cont-active{
      z-index: 1;
      width: 100%;
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
      .el-bg {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s;
        &:before{
          transition-delay: 0.6s;
          transform: scale(1.1);
        }
      }
    }

  }

  .el-overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .el-inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: all 1s;

    &:hover {
      .el-heading{ opacity: 0;}
      .el-bg {
        &:after { opacity: 1 }
      }
    }

  }

  .el-bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: transform 0.6s 0.1s;
    will-change: transform;
    // @include filter(grayscale(100) blur(2px));

    &:before {
      @include el-bg-selectors(transform 1s);
      top: -5%;
      height: 110%;
      background-size: cover;
      background-position: center center;
      transform: translate3d(0, 0, 0) scale(1);
    }

    &:after {
      @include el-bg-selectors(opacity 0.5s);
      background: $overlay;
      opacity: 0;
      z-index: 1;
    }
  }

  .el-close-btn {
    position: absolute;
    @include close-btn(10px, 50px, 50px);
    right: 10px;
    pointer-events: none;
    cursor: pointer;
    z-index: -1;
    &:before, &:after {
      content: '';
      @include close-btn(50%, 100%, 3px);
      left: 0;
      margin-top: -4px;
      background: $highlight;
      opacity: 1;
    }
    &:before{ @include close-btn-transform(45deg, 100%); }
    &:after{ @include close-btn-transform(-45deg, 100%); }
  }

  .el-preview-cont {
    @include position-abs;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s 1.2s;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    z-index: 2;
  }

  .el-heading {
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
    text-transform: uppercase;
    color: $highlight;
    transition: $transition-all;

  }

  .el-content {
    @include position-abs;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
    z-index: -1;
    text-align: left;
    word-break: break-word;

    .btn{
      font-size: 2rem;
      float: right;
      color: $main-text;
      border: 2px solid $second-background;
      &:hover{
        color: $highlight;
        background: $second-background;
      }
    }
  }

  .el-content-hd {
    font-size: 2rem;
    padding: 15px;
  }

  .used-tech{
    font-size: 10px;
    text-transform: uppercase;
    .tech{
      padding: 10px;
      border-radius: 5px;
      background: $main-background;
    }

  }




}

@media (max-width: 1160px), (max-width: 1160px) and (orientation: landscape) {

}


