$army: #11251F;
$jungle-green: #18362E;
$green: #017206;
$mustard: #EEB736;
$flame: #DF5624;
$ferrari-red: #ff2800;
$black: #000;
$shadow: #1F1F1F;
$grey: #575757;
$silver: #B3B3B3;
$resume-bg:#e3e3e3;
$white: #fff;