/* colors definition */
$white: #fff;
$lt-grey:#e3e3e3;
$silver: #B3B3B3;
$grey: #575757;
$charcoal: #1F1F1F;
$black: #000;
$army: #11251F;
$jungle-green: #18362E;
$green: #017206;
$mustard: #EEB736;
$flame: #DF5624;
$ferrari-red: #ff2800;

/* active palette - portfolio */
$main-background: $jungle-green;
$second-background: $army;
$main-text: $silver;
$highlight-text: $mustard;
$shadow: $charcoal;

/* active palette - resume */
$resume-bg: $lt-grey;
$resume-header: $white;
$resume-text: $black;
$resume-subtext: $grey;
$resume-hover: $ferrari-red;
$circle-color: $black;
$lower-circle-color: $white;