@mixin box-shadow($x, $y, $blur, $color){ 
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    -ms-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
  }
  
@mixin filter($color){
  -webkit-filter: $color;
  -moz-filter: $color;
  -ms-filter: $color;
  filter: $color;
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin hr{
  margin-bottom: 5rem;
	height: 0px;
	clear: both;
	border: 1px solid transparent;
}

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
      -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}