@import "colors";
@import "fonts";
@import "mixins";
@import "variables";



/* ---- TABLET VIEW ---- */

@media (max-width: 1200px) {
	html {
		font-size: 60%;
	}
    h1 {
        font-size: 15rem;
 }
}


/* ---- MOBILE VIEW ---- */
@media (max-width: 460px) {
    html {
        font-size: 35%;
    }

    body {
        overflow-x: hidden;
    }

    h1 {
        font-size:10rem;
    }

    i.menu {
        display: block;
    }

    nav {
        padding-right: 2rem;
        background: none;
        box-shadow: none;
    }

    ul{ 
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        ul{
            display: none;
            justify-content: center;
            width:15rem;
            height:100vh;
            line-height: 15rem;
            background-color: $second-background;
            @include border-radius(1rem);
        }
    }

    .mobile-menu:hover .nav-list{
        display:block;
    }

    .nav .close-menu {
        position: absolute;
        right:10rem;
    }

   .close-menu:hover .nav-list{
        display:none;
    } 

    li {
        a {
            margin-top: 5rem;
            font-size: 3rem;
        }
    }

    .welcome-section {
        h1 {
            transform: translateX(2rem);
        }
        h3 {
            font-size: 6rem;
        }
    }  
        
    .stack-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .projects-section {
        padding: 10rem 1rem; 
        height: auto;
    }

    #mood-counter{
        grid-column: 1/2;
    }
}