/* colors definition */
$white: #fff;
$lt-grey: #B9B9B9;
$grey: #575757;
$charcoal: #333333;
$dk-charcoal: #292929;
$black: #000;
$turquoise: rgb(13, 255, 211);
$ferrari-red: #ff2800;

/* active palette - portfolio */
$main-background: $dk-charcoal;
$second-background: #1B1B1B;
$main-text: $lt-grey;
$second-text: $charcoal;
$highlight: $turquoise;
$shadow: $charcoal;
$overlay: rgba(0, 0, 0, 0.3);
$overlay2: rgba(21, 21, 21, 0.94);


