@import url("https://use.typekit.net/wff8gme.css");
@use 'colors' as *;

@mixin font-style {
  font-weight: 400;
  font-style: normal;
}

@mixin main-font {
  font-family: letter-gothic-std, monospace;
  letter-spacing: 8px;
  @include font-style;
}

@font-face {
  font-family: nameFont;
  src: url(/public/resources/counb___.ttf);
}


