@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";
@import "../../sass/variables";

@-ms-viewport {
  width: device-width;
}

  
  /* ---- BASE CSS RESET ---- */
  * {
	margin: 0;
	padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  /* ---- MAIN TAGS STYLES ---- */
  html {
	box-sizing: border-box;
	scroll-behavior: smooth;
  }
  
  body {
	font-family: $resume-font; 
	line-height: 1.4;
	color: $resume-text;
	background-color: $resume-bg;
	overflow-x: hidden;
  }
  
  h1 {
	font-weight: 700;
	font-size: 4rem;
  }
  
  h2 {
	font-size: 2rem;
	text-shadow: $text-shadow;
  }
  
  h3{
	font-size: 1.5rem;
	margin-top: 1em;
  }
  
  p {
	font-size: 1.2rem;
  }
  
  a {
	text-decoration: none;
	color: $black;
  }
  
  a:visited {
	color: $black;
  }
  
  ul {
	list-style: none;
  }
  
  img {
	width: 100%;
	height: auto;
  }
  
  hr {
	@include hr; 
  }
  
  .fa, .fab {
	font-size: 2em;
  }
  
  /* ---- HEADER ---- */
  .title h1, .title h2, .title h3, .header-content, #photo, .contact {
	position: relative;
  }
  
  .title {
	h1, h2 {
		text-align: center;
		margin: 1rem auto;
		color: $resume-header;
		z-index: 3;
	}
  }

  .header-content {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin-top: 7em;
	z-index: 3;
  }
  
  .location, .github {
	transition: transform $transition;
	&:hover {
		color: $resume-hover;
		transform: scale(1.2);
	}
  }
  
  #photo {
	max-width: 15em;
	margin-top: -7em;
	right: 1em;
	@include filter(grayscale(20%));
  }
  
  .contact {
	margin: 1.5em auto;
	text-align: center;
	z-index: 3;
  }
  
  #upper-circle, #lower-circle {
	position: absolute;
	width: 120%;
	height: 60em;
	left: 50%;
	top: -100%;
	transform: translateX(-50%);
	@include border-radius(50%);
	background-color: $circle-color;
	z-index: 2;
  }
  
  #lower-circle {
	top: -65%;
	z-index: 1;
	box-shadow: $big-shadow;
	background-color: $lower-circle-color;
  }
  
  /* ---- CONTENT  ---- */
  #body-content {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 90%;
	margin: 0 auto;
	padding: 1em;
 
	h2 {
		font-size: 3em;
		border-bottom: 0.02em solid;
		border-image: linear-gradient(90deg, $grey, $resume-bg) 1;
	}
	p {
		padding: 1em;
	}
	.left-side {
		width: 65%;
  	}
  	.right-side {
		width: 35%;
		padding-left: 2em;
		border-left: 0.02em solid;
		border-image: linear-gradient(45deg, $resume-bg, $grey) 1;
	}
}
  
  time {
	color: $resume-subtext;
	border-right: 0.02em solid;
	border-image: linear-gradient(45deg, $resume-bg, $grey) 1;
  }
  
  .content-place {
	font-weight: 400;
  }
  
  .content-title {
	display: block;
	font-size: 130%;
	font-weight: 600;
	margin-top: 0.1em;
  }
  
  /* ---- STACK and SKILLS ---- */
  .stack-box{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	word-break: keep-all;
	.skill{
		font-size: 1.5rem;
	}
  }
  
  .fab, .fa {
	transition: color $transition;
  }
  
  .skill-level {
	color: $resume-subtext;
  }

  .red, .skill-red:hover {
	color: $ferrari-red;
  }
  
  .yellow, .skill-yellow:hover{
	color: $mustard;
  }

  .green, .skill-green:hover {
	color: $green;
  }
  
  /* ---- MOBILE VIEW ---- */
  @media (max-width: 940px) {
	html {
	  font-size: 60%;
	}
  
	#upper-circle {
	  top: -60%;
	}
  
	#lower-circle {
	  top: -40%;
	  width: 130%;
	}
  }


  @media (max-width: 460px) {
	html {
	  font-size: 50%;
	}
  
	h2 {
	  text-shadow: $text-shadow;
	}
  
	#upper-circle, #lower-circle {
	  height: 30em;
	}
  
	#upper-circle {
	  top: -12%;
	}
  
	#lower-circle {
	  top: 5%;
	  width: 130%;
	}
  
	.location, .github {
	  margin-top: 2em;
	}
  
	#body-content {
	  width: 97%;
	  .right-side {
		width: 43%;
		padding-left: 1em;
	  }
	  h2 {
		font-size: 2.3rem;
	  }
	}

	.legend {
		font-size: 70%;
	}

	.stack-box{
		.skill{
			font-size: 1rem;
		}
	  }

	.skill-red i{
		color: $ferrari-red;
	  }
	  
	.skill-yellow i{
		color: $mustard;
	  }
	
	.skill-green i{
		color: $green;
	  }
  }