@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

@-ms-viewport {
	 width: device-width;

/* ---- BASE CSS RESET ---- */
 * {
	 margin: 0;
	 padding: 0;
}
/* box-sizing and font sizing */
 *, *::before, *::after {
	 box-sizing: inherit;
}
/* ---- main tags styles ---- */
 html {
	 box-sizing: border-box;
	/* 1rem = 16px = 100% * 10px = 62.5% */
	 font-size: 62.5%;
	 scroll-behavior: smooth;
}
 body {
	 font-family: 'Open Sans Condensed', sans-serif;
	 font-size: 1.8rem;
	/* 18px */
	 font-weight: 300;
	 line-height: 1.4;
	 color: #b3b3b3;
}
 h1, h2, h3 {
	 text-align: center;
	 text-shadow: 2px 2px 1px #1f1f1f;
}
 h1 {
	 font-weight: 700;
	 font-size: 20rem;
}
 h2 {
	 font-size: 5rem;
}
 h3 {
	 font-size: 4rem;
}
 ul {
	 list-style: none;
}
 a {
	 text-decoration: none;
	 color: #eeb736;
}
 img {
	 display: block;
	 width: 100%;
}
 hr {
	 margin-bottom: 10rem;
	 height: 0px;
	 clear: both;
	 border: 1px solid transparent;
}
/* ---- NAV BAR ---- */
 #navbar {
	 height: 2em;
}
 .nav {
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 background: #11251f;
	 box-shadow: 0 0.4em 0.5em rgba(0, 0, 0, 0.4);
	 z-index: 10;
}
 .nav-list {
	 display: flex;
	 margin-right: 2rem;
}
 .nav-list a {
	 display: block;
	 font-size: 2rem;
	 margin-right: 2rem;
	 padding: 0.2em;
}
 .nav-list a:hover {
	 background: #18362e;
}
/* ---- WELCOME SECTION ---- */
 .welcome-section {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
	 height: 80rem;
	 background-color: #18362e;
}
 .welcome-section > p {
	 font-size: 3rem;
	 color: #eeb736;
}
 #welcome-section h1 {
	 transition: transform 0.3s ease-out;
	 transform: translateX(5rem);
}
 #welcome-section h1:hover {
	 transform: translateX(0rem);
}
 #welcome-section h1:hover .code {
	 color: #eeb736;
}
 #stack-box {
	 display: flex;
	 width: 50rem;
	 height: 70rem;
	 justify-content: space-between;
	 align-items: center;
	 text-align: center;
	 font-size: 10rem;
}
 #stack-box p {
	 font-size: 3rem;
}
 .stack-img {
	 transition: all 0.5s ease;
}
 .stack-img:hover {
	 color: #eeb736;
}
/* ---- PROJECTS SECTION ---- */
 .projects-section {
	 text-align: center;
	 padding: 10rem 2rem;
	 background: #18362e;
	 background-image: linear-gradient(to bottom, #18362e, #11251f);
}
 .projects-section-header {
	 max-width: 80rem;
	 margin: 0 auto 6rem auto;
	 border-bottom: 0.02em solid;
	 border-image: linear-gradient(90deg, #18362e, #eeb736, #18362e) 1;
}
/* ---- "Automagic" ---- */
 .projects-grid {
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	 grid-gap: 4rem;
	 width: 100%;
	 max-width: 120rem;
	 margin: 0 auto;
	 margin-bottom: 6rem;
}
 .project {
	 background: #18362e;
	 box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}
 .project:hover .code {
	 color: #df5624;
}
 .code {
	 color: #18362e;
	 text-shadow: none;
	 transition: color 0.3s ease-out;
}
 .project-image {
	 height: calc(100% - 6.8rem);
	 width: 100%;
	 object-fit: cover;
	 filter: grayscale(80%);
	 transition: all 0.5s ease;
}
 .project-image:hover {
	 filter: grayscale(0%);
}
 .project-title {
	 font-size: 2rem;
	 padding: 2rem 0.5rem;
}
 .project-title:hover {
	 background: #11251f;
}
 .btn {
	 display: inline-block;
	 padding: 1rem 2rem;
	 border-radius: 0.1rem;
}
 .btn-show-all {
	 font-size: 2rem;
	 background: #18362e;
	 transition: background 0.3s ease-out;
}
 .btn-show-all > i {
	 margin-left: 1rem;
	 transform: translateX(0);
	 transition: transform 0.3s ease-out;
}
 .btn-show-all:hover {
	 background: #11251f;
}
 .btn-show-all:hover > i {
	 transform: translateX(2px);
}
/* ---- CONTACT SECTION ---- */
 .contact-section {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 width: 100%;
	 height: 40rem;
	 padding: 0 2rem;
	 background: #18362e;
}
 .contact-section-header > h2 {
	 font-size: 6rem;
}
 .contact-section-header > p {
	 font-style: italic;
}
 .contact-links {
	 display: flex;
	 justify-content: center;
	 width: 100%;
	 max-width: 980px;
	 margin-top: 4rem;
	 flex-wrap: wrap;
}
 .contact-details {
	 font-size: 2.4rem;
	 text-shadow: 2px 2px 1px #1f1f1f;
	 transition: transform 0.3s ease-out;
}
 .contact-details:hover {
	 transform: translateY(-0.5rem);
}
/* ---- MOBILE VIEW ---- */
/* 1200px / 16px = 75em */
 @media (max-width: 75em) {
	 html {
		 font-size: 60%;
	}
}
/* 980px / 16px = 61.25em */
 @media (max-width: 61.25em) {
	 html {
		 font-size: 58%;
	}
}
 @media (max-width: 460px) {
	 h1 {
		 font-size: 10rem;
	}
	 .nav {
		 justify-content: center;
	}
	 .nav-list {
		 margin: 0 auto;
	}
	 .welcome-section {
		 height: 70rem;
	}
	 #welcome-section h1 {
		 transform: translateX(2rem);
	}
	 #stack-box {
		 display: flex;
		 width: 100%;
		 height: 20rem;
	}
	 .projects-section-header {
		 font-size: 4rem;
	}
	 .contact-section-header > h2 {
		 font-size: 4rem;
	}
}
 