@import '../components/burger';

.nav {
  width: 62px;
  height: 100vh;
  z-index: 1000;
  margin: 0;

  /*  layer to cover incoming hover */
  .bg-cover {
    background-color: $second-background;
    position: inherit;
    height: 100vh;
    width: inherit;
    z-index: 10;
  }

  ul {
    width: inherit;
  }

  .nav-link { z-index: 20; }
  .nav-item {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 20px;
  }

  p {
    font-size: 12px;
    color: $highlight;
    padding: 10px;
  }

  .hover-item {
    transform: translateX(-1000px);
    min-width: 190px;
    background-size: contain;
    background: url("../../img/hover-shape.svg") no-repeat;
    p { margin-left: 25px;}
  }

  .nav-item:hover {
    .hover-item {
      transform: translateX(15px);
      transition: all 0.5s 0.1s;
    }
  }
}

@include media-breakpoint-down(lg) {

  .nav {
    width: 100vw;
    background-color: $second-background;
    opacity: 99%;
  //  align-content: center;
    .nav-item{width: auto;}
    .hover-item {
      transform: translateX(0px);
      background: none;
      z-index: 20;
      p { font-size: 2rem;}
    }
    .bg-cover {display: none;}
  }
}
