@use '../helpers/colors' as *;
  .bi, .fab {
    font-size: 30px;
    color: $highlight;
    transition: $transition-all;
  }
  .bi:hover{
    color: $highlight;
    text-shadow: $nav-shadow;
  }

  :is(.nav, .social) i { color: $charcoal; }


  @media (max-width: 1160px), (max-width: 1160px) and (orientation: landscape) {
    .bi-list {
      display: block;
    }

    .bi-list:hover .nav{
      display: block;
    }
  }

